body {
    font-family: "Abril Fatface", serif;
    color: #33372C;
    background-color: #FFE5CF;
}

#wrapper{
    width: 364px;
}

#button-container {
    display: flex;
    justify-content: space-between;
}

#btn {
    color: #33372C;
    border: #557C56 dashed 2px;
    border-radius: 1;
    height: 2.5rem;
    margin: 2px;
}
  