body {
    font-family: "Abril Fatface", serif;
    color: #6d6875;
    background-color: #ffcdb2;
    height: 100vh;
}

/* Centering the main title */
.site-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #6d6875;
}

/* Main container for the program buttons */
.program-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    margin: 20px;
}

/* Container for programs buttons with params */
.param-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0px 10px;
    gap: 16px;
    padding: 20px;
    background: #fff3e6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

/* Container for single (non-param) program buttons */
.single-programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Space between buttons */
    padding: 20px;
    background: #fff3e6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}